{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">The movie rating application</h1>
        <p class="lead">In this site, you can view the movies information of their year and rating. you can also add new
        data entry or modify existing ones</p>
    </div>
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Score</th>
        <th scope="col">Year</th>
    </tr>
    </thead>
    <tbody>
    {% for rating in ratings %}
    <tr>
        <td><a href="view/{{rating.Title}}">{{ rating.Title }}</a></td>
        <td>{{ rating.Score }}</td>
        <td>{{ rating.Year }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}