{% extends "layout.html" %}
{% block content %}
<form action="/mrs/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="title">Movie Title</label>
            <input id="title" type="text" class="form-control" placeholder="title" name="title">
        </div>
        <div class="col">
            <label for="score">Score</label>
            <input id="score" type="number" class="form-control" placeholder="score"
                   name="score">
        </div>
        <div class="col">
            <label for="year">Year</label>
            <input id="year" type="number" class="form-control" placeholder="year" name="year">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}