{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ mr.Title }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Title: {{ mr.Title }}</li>
        <li class="list-group-item">Score: {{ mr.Score }}</li>
        <li class="list-group-item">Year: {{ mr.Year }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{mr.Title}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{mr.Title}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}